{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="add-exercise" tabindex="-1" role="dialog" aria-labelledby="add-exercise-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log new exercise</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        {% crispy create_exercise_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Log Exercise" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron jum-container" id="exercise-jum">
        <div class="row mt-2">
            <h1>Exercises</h1>
        </div>
        <div class="row">
            <div class="col-lg-5" id="exercise-list-box">
                <h4 id="feed-title">Exercise Feed</h4>
                <div class="list-group" id="feed-list">
                    {% for exercise in exercise_list %}
                        <a href="#" class="list-group-item list-group-item-action exercise-group-item-selector" id="{{ exercise.exercise_name }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ exercise.exercise_name }}</h5>
                                <small>{{ exercise.date_time_added.date }}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row justify-content-around my-4">
                    <a class="btn btn-outline-primary medium-button" role="button" id="log-exercise-button"
                       data-toggle="modal"
                       data-target="#add-exercise">Log Exercise</a>
                    <h3 id="calorie-burn-title">Calories burnt over time</h3>
                </div>
                <div class="row">
                    <canvas class="exercise-month-graph" id="chLine"></canvas>
                </div>
                <div class="row meal-exercise-background" id="exercise-info-box">
                    <div class="col exercise-info">
                        <p id="exercise_name">Name: ____________</p>
                        <p id="exercise_type">Exercise: __________</p>
                    </div>
                    <div class="col exercise-info" id="duration-distance-col">
                        <p id="duration">Duration: __________</p>
                        <p id="distance">Distance: __________</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var exercises = new Array();

        $(document).ready(function () {
            if ($('#feed-list').contents().length <= 1) {
                listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = 'Log an exercise and it will show up on this list';
                document.getElementById('feed-list').appendChild(listItem);
            }

            $('#exercise-info-box').hide();

            var count = 0;
            {% for exercise in exercise_list %}
                var exercise_name = "{{ exercise.exercise_name }}";
                var exercise_date = "{{ exercise.date_time_added }}";
                var distance = "{{ exercise.distance }}";
                var duration = "{{ exercise.duration }}";
                var exercise_type_name = "{{ exercise.type_of_exercise.exercise_type_name }}";
                var has_distance = "{{ exercise.type_of_exercise.has_distance }}";
                var has_duration = "{{ exercise.type_of_exercise.has_duration }}";
                var new_exercise = [exercise_name, exercise_date, distance, duration, exercise_type_name, has_distance, has_duration];
                exercises[count] = new_exercise;
                count = count + 1;
            {% endfor %}
        });

        $('.exercise-group-item-selector').on('click', function (e) {
            for (index = 0; index < exercises.length; index++) {
                var current_exercise = exercises[index];
                if (e.currentTarget.id == current_exercise[0]) {
                    $('#exercise-info-box').show();
                    $('#exercise_name').text(current_exercise[0] + " at " + current_exercise[1]);
                    $('#exercise_type').text("Type of exercise: " + current_exercise[4]);
                    if(current_exercise[5] == "True")
                    {
                        $('#distance').text("Distance: " + current_exercise[2] + 'm');
                    }
                    else
                    {
                        $('#distance').text("");
                    }
                    if(current_exercise[6] == "True")
                    {
                        $('#duration').text("Duration: " + current_exercise[3]);
                    }
                    else
                    {
                        $('#duration').text("");
                    }
                }
            }
        })
    </script>

    <script>

        /* large line chart */
        var chLine = document.getElementById("chLine");
        var chartData = {
            labels: [{% for day in calories_burnt_dates %}{{ day }}, {% endfor %}],
            datasets: [{
                data: [{% for entry in calories_burnt_list%}{{ entry }}, {% endfor %}],
                backgroundColor: 'transparent',
                borderColor: '#274c77',
                borderWidth: 4,
                pointBackgroundColor: '#274c77'
            }]
        };

        if (chLine) {
            new Chart(chLine, {
                type: 'line',
                data: chartData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    </script>
{% endblock %}