{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="addGoal" tabindex="-1" role="dialog" aria-labelledby="addGoalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addGoalTitle">Create new goal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        {% crispy create_goal_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create Goal" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDelete">Delete goal?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body confirm-modal">
                    <div class="row" style="text-align: center">
                        <div class="col" style="display: inline-block;">
                            <form action="{% url 'delete_goal' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="goal-to-delete-id" name="pk">
                                <input type="submit" value="Are you sure?" id="delete-goal-button"
                                       class="btn btn-outline-danger long-button">
                            </form>
                        </div>
                        <div class="col" style="display: inline-block;">
                            <a class="btn btn-outline-primary long-button" id="goal-buttons" role="button"
                               data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}

{% block content %}
    <div class="jumbotron jum-container" id="goal-content">
        <div>
            <h1 id="goal-title">My goals</h1>
        </div>
        <div class="row goal-row">
            <div class="col-lg-5 goal-col">
                <div>
                    <h2>Ongoing:</h2>
                </div>
                <div class="pre-scrollable">
                    <ul class="list-group feed-list-content" id="ongoing-goal-list">
                        {% if ongoing_goal_list %}
                            {% for goal in ongoing_goal_list %}
                                <a class="list-group-item list-group-item-action goal-group-item-selector"
                                   onClick="goal_clicked(this.id)"
                                   id="{{ goal.goal_name }}">{{ goal.goal_name }}</a>
                            {% endfor %}
                        {% else %}
                            <a class="list-group-item list-group-item-action">You don't have any ongoing goals</a>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="col-lg-5 goal-col">
                <div>
                    <h2>Completed:</h2>
                </div>
                <div class="pre-scrollable">
                    <ul class="list-group feed-list-content" id="completed-goal-list">
                        {% if completed_goal_list %}
                            {% for goal in completed_goal_list %}
                                <a class="list-group-item list-group-item-action goal-group-item-selector"
                                   onClick="goal_clicked(this.id)"
                                   id="{{ goal.goal_name }}">{{ goal.goal_name }}</a>
                            {% endfor %}
                        {% else %}
                            <a class="list-group-item list-group-item-action">You don't have any completed goals.</a>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="col-lg-2 goal-end-col text-center">
                <div class="row goal-button">
                    <h5>Next goal deadline:</h5>
                    <p>{{ next_goal_date }}</p>
                </div>
                <div class="row goal-button">
                    <h5>Goals completed:</h5>
                    <p>{{ goals_completed }}</p>
                </div>
                <div class="row goal-button">
                    <a class="btn btn-outline-primary btn-lg long-button" id="new-goal-button" role="button"
                       data-toggle="modal" data-target="#addGoal"> New goal </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-spacer"></div>
    <div class="jumbotron jum-container" id="goal-detail-jum">

        <div class="goal-detail-row">
            <div>
                <h2 id="goal-name">My Goal</h2>
            </div>
            <div class="row goal-detail">
                <div id="loading-animation">
                    <span class="load-block"></span>
                    <span class="load-block"></span>
                    <span class="load-block"></span>
                    <span class="load-block"></span>
                </div>
                <div class="col goal-detail-col">
                    <p id="exercise-type"></p>
                    <p id="is-met-text"></p>
                </div>
                <div class="col goal-detail-col">
                    <p id="start-date-text"></p>
                    <p id="target-date-text"></p>
                </div>
                <div class="col delete-goal-col">

                    <div class="form-group">
                        <form action="{% url 'finish_goal' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="goal-to-finish-id" name="pk">
                            <input type="submit" value="Finish Goal" id="finish-goal-button"
                                   class="btn btn-outline-success form-control">
                            <a class="btn btn-outline-primary form-control" id="delete-goal-button" role="button"
                               data-toggle="modal"
                               data-target="#confirmDelete">Delete goal</a>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- TODO CHECK IF WE CAN LOCALLY LOAD FULL JQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#ongoing-goal-list').contents().length <= 1) {
                listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = 'Complete a goal and it will show up on this list';
                document.getElementById('ongoing-goal-list').appendChild(listItem);
            }
            if ($('#completed-goal-list').contents().length <= 1) {
                listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = 'Create a goal and it will show up on this list';
                document.getElementById('completed-goal-list').appendChild(listItem);
            }
            $('#goal-detail-jum').hide();
        });

        function goal_clicked(clicked_id) {
            $('#goal-detail-jum').show();
            //start_loading_animation();

            $.ajax({
                url: '/ajax/goal-details',
                data: {
                    'goal_name': clicked_id
                },
                dataType: 'json',
                success: function (data) {
                    $('#goal-name').text(data.goal_name);
                    $('#exercise-type').text("Exercise type: " + data.type_of_exercise);

                    if (data.is_met === true) {
                        $('#is-met-text').text("This goal has been met!");
                        $('#finish-goal-button').hide();
                    } else if (data.is_finished === true) {
                        $('#is-met-text').text("This goal has been finished!");
                        $('#finish-goal-button').hide();
                    } else {
                        $('#is-met-text').text("This goal is ongoing!");
                        $('#finish-goal-button').show();
                    }

                    // date formatting necessary here
                    start_date = new Date(data.start_date);
                    target_date = new Date(data.target_date);
                    $('#start-date-text').text("Start date: " + start_date.toDateString());
                    $('#target-date-text').text("End date: " + target_date.toDateString());

                    document.getElementById("goal-to-delete-id").setAttribute("value", data.goal_id);
                    document.getElementById("goal-to-finish-id").setAttribute("value", data.goal_id);
                }
            });

            stop_loading_animation();
        }

        function start_loading_animation() {
            document.getElementById('loading-animation').style.display = 'block'
        }

        function stop_loading_animation() {
            document.getElementById('loading-animation').style.display = 'none'
        }
    </script>

{% endblock %}