{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="create-group" tabindex="-1" role="dialog" aria-labelledby="create-group-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        {% crispy create_group_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create Group" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="join-group" tabindex="-1" role="dialog" aria-labelledby="join-group-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Join existing group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% crispy join_group_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Join Group" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="leave-group" tabindex="-1" role="dialog" aria-labelledby="leave-group-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Want to leave a group?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" action="{% url 'leave_group' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="group-to-leave-id" name="pk">
                    <div class="modal-footer">
                        <input type="submit" value="Are you sure?" id="goal-button"
                               class="btn btn-danger long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="share-group" tabindex="-1" role="dialog" aria-labelledby="share-group-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Share selected group?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="group-share-id"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="create-group-goal" tabindex="-1" role="dialog" aria-labelledby="share-group-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a group goal?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="group-to-associate-id" name="group_associate_pk">
                        {% crispy create_goal_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create Goal" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDelete">Delete goal?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body confirm-modal">
                    <div class="row" style="text-align: center">
                        <div class="col" style="display: inline-block;">
                            <form action="{% url 'delete_group_goal' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="goal-to-delete-id" name="pk">
                                <input type="submit" value="Are you sure?" id="delete-goal-button"
                                       class="btn btn-outline-danger long-button">
                            </form>
                        </div>
                        <div class="col" style="display: inline-block;">
                            <a class="btn btn-outline-primary long-button" id="goal-buttons" role="button"
                               data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="jumbotron jum-container" id="group-jum">
        <div class="row mt-2">
            <h1>My Groups</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center new-goal-buttons">
                    <a class="btn btn-outline-primary" role="button" id="join-group-button" data-toggle="modal"
                       data-target="#join-group">Join Group</a>
                    <a class="btn btn-outline-primary" role="button" id="join-group-button" data-toggle="modal"
                       data-target="#create-group">Create New Group</a>
                </div>

                <div class="pre-scrollable group-feed-div">
                    <ul class="list-group" id="group-feed-list">
                        {% for group in group_list %}
                            <a class="list-group-item list-group-item-action group-item-selector"
                               id="{{ group.group_name }}" onclick="group_clicked(this.id)">{{ group.group_name }}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 group-details-lists">
                <h6 id="members-heading">Ongoing goals:</h6>
                <div class="pre-scrollable" id="group-goal-list">
                    <ul class="list-group" id="group-ongoing-goal-list">
                    </ul>
                </div>
                <h6 id="members-heading">Completed goals:</h6>
                <div class="pre-scrollable" id="group-goal-list">
                    <ul class="list-group" id="group-completed-goal-list">
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 group-details-lists">
                <div class="row members-list">
                    <h6 id="members-heading">Members:</h6>
                    <div class="pre-scrollable" id="group-member-list">
                        <ul class="list-group" id="group-member-list-inner">
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-between group-buttons">
                    <a class="btn btn-outline-primary half-button my-1" role="button" id="leave-group-button"
                       data-toggle="modal"
                       data-target="#leave-group">Leave Group</a>
                    <a class="btn btn-outline-primary half-button my-1" role="button" id="share-group-button"
                       data-toggle="modal"
                       data-target="#share-group">Share Group</a>
                    <a class="btn btn-outline-primary long-button my-1" role="button" id="create-goal-button"
                       data-toggle="modal"
                       data-target="#create-group-goal">Create new goal</a>
                </div>
            </div>

        </div>
    </div>

    <div class="jumbotron jum-container" id="group-goal-detail-jum">

        <div class="goal-detail-row">
            <div>
                <h2 id="goal-name">My Goal</h2>
            </div>
            <div class="row goal-detail">
                <div class="col goal-detail-col">
                    <p id="exercise-type"></p>
                    <p id="is-met-text"></p>
                </div>
                <div class="col goal-detail-col">
                    <p id="start-date-text"></p>
                    <p id="target-date-text"></p>
                </div>
                <div class="col delete-goal-col">

                    <div class="form-group">
                        <form action="{% url 'finish_group_goal' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="goal-to-finish-id" name="pk">
                            <input type="submit" value="Finish Goal" id="finish-goal-button"
                                   class="btn btn-outline-success form-control">
                            <a class="btn btn-outline-primary form-control" id="delete-goal-button" role="button"
                               data-toggle="modal"
                               data-target="#confirmDelete">Delete goal</a>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $('#group-goal-detail-jum').hide();
        $('.group-details-lists').hide();
        $(document).ready(function () {
            if ($('#group-feed-list').contents().length <= 1) {
                listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = 'Join or create a group and it will show up on this list';
                document.getElementById('group-feed-list').appendChild(listItem);
            }

            $('#group-goal-detail-jum').hide();
            $('.group-details-lists').hide();
        });

        function group_clicked(clicked_id) {
            $('.group-details-lists').show();

            $.ajax({
                url: '/ajax/group-details',
                data: {
                    'group_name': clicked_id
                },
                dataType: 'json',
                success: function (data) {
                    var goalList = $('#group-ongoing-goal-list');
                    goalList.empty();
                    if (data.ongoing_goals_count > 0) {
                        for (i = 0; i < data.ongoing_goals_count; i++) {
                            var goalName = eval("data.ongoing_goal_" + i);
                            var newGoal = document.createElement("a");
                            newGoal.classList.add("list-group-item");
                            newGoal.classList.add("list-group-item-action");
                            newGoal.id = goalName;
                            newGoal.innerHTML = goalName;
                            goalList.append(newGoal);
                            document.getElementById(goalName).onclick = function () {
                                goal_clicked(this.id);
                            };
                        }
                    } else {
                        var newGoal = document.createElement("a");
                        newGoal.classList.add("list-group-item");
                        newGoal.classList.add("list-group-item-action");
                        newGoal.innerHTML = "Create a goal for this group and it will show up here";
                        goalList.append(newGoal);
                    }

                    goalList = $('#group-completed-goal-list');
                    goalList.empty();
                    if (data.completed_goals_count > 0) {
                        for (i = 0; i < data.completed_goals_count; i++) {
                            var goalName = eval("data.completed_goal_" + i);
                            var newGoal = document.createElement("a");
                            newGoal.classList.add("list-group-item");
                            newGoal.classList.add("list-group-item-action");
                            newGoal.id = goalName;
                            newGoal.innerHTML = goalName;
                            goalList.append(newGoal);
                            document.getElementById(goalName).onclick = function () {
                                goal_clicked(this.id);
                            };
                        }
                    } else {
                        var newGoal = document.createElement("a");
                        newGoal.classList.add("list-group-item");
                        newGoal.classList.add("list-group-item-action");
                        newGoal.innerHTML = "Complete a goal for this group and it will show up here";
                        goalList.append(newGoal);
                    }

                    var memberList = $('#group-member-list-inner');
                    memberList.empty();
                    if (data.member_count > 0) {
                        for (i = 0; i < data.member_count; i++) {
                            var memberName = eval("data.user_" + i);
                            var newMember = document.createElement("a");
                            newMember.classList.add("list-group-item");
                            newMember.classList.add("list-group-item-action");
                            newMember.id = memberName;
                            newMember.innerHTML = memberName;
                            memberList.append(newMember);
                        }
                    } else {
                        var newMember = document.createElement("a");
                        newMember.classList.add("list-group-item");
                        newMember.classList.add("list-group-item-action");
                        newMember.innerHTML = "Add members and they will show up here";
                        memberList.append(newMember);
                    }
                    document.getElementById("group-to-associate-id").setAttribute("value", data.group_id);
                    document.getElementById("group-to-leave-id").setAttribute("value", data.group_id);
                    $('#group-share-id').text("Your unique group ID: " + data.group_id)
                }
            });
        }

        function goal_clicked(clicked_id) {
            $('#group-goal-detail-jum').show();

            $.ajax({
                url: '/ajax/goal-details',
                data: {
                    'goal_name': clicked_id
                },
                dataType: 'json',
                success: function (data) {
                    $('#goal-name').text(data.goal_name);
                    $('#exercise-type').text("Exercise type: " + data.type_of_exercise);

                    if (data.is_met === true) {
                        $('#is-met-text').text("This goal has been met!");
                        $('#finish-goal-button').hide();
                    } else if (data.is_finished === true) {
                        $('#is-met-text').text("This goal has been finished!");
                        $('#finish-goal-button').hide();
                    } else {
                        $('#is-met-text').text("This goal is ongoing!");
                        $('#finish-goal-button').show();
                    }

                    // date formatting necessary here
                    start_date = new Date(data.start_date);
                    target_date = new Date(data.target_date);
                    $('#start-date-text').text("Start date: " + start_date.toDateString());
                    $('#target-date-text').text("End date: " + target_date.toDateString());

                    document.getElementById("goal-to-delete-id").setAttribute("value", data.goal_id);
                    document.getElementById("goal-to-finish-id").setAttribute("value", data.goal_id);
                }
            });
        }
    </script>
{% endblock %}