{% extends 'layout.html' %}

{% block content %}
    <div class="home-screen-container">
        <!-- add users name from the database: -->
        <div class="home-title">
            <h1 class="home-title-header"> Welcome, {{ logged_in_user.first_name }}. </h1>
        </div>

        <div class="home-main">
            <div class="row home-main-row">
                <div class="col-lg-5 h-auto today-feed-col">
                    <div class="jumbotron home-jum" id="home-feed-list-jum">
                        <h2>Recent Feed</h2>
                        <p>An overview your activity:</p>
                        <ul class="list-group" id="today-feed-list">
                            {% for meal in today_meal_list %}
                                <li class="list-group-item">{{ meal.meal_name }}</li>
                            {% endfor %}
                            {% for exercise in today_exercise_list %}
                                <li class="list-group-item">{{ exercise.exercise_name }}</li>
                            {% endfor %}
                        </ul>
                        <div id="today-feed-info-links">
                            <a href="nutrition" class="info-link">View nutrition...</a>
                            <a href="exercise" class="info-link">View exercise...</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 home-main-first-col">
                    <div class="row home-col-first-row">
                        <div class="jumbotron home-jum">
                            <h2 class="calories-burnt-week">Calories burnt this week</h2>
                            <div class="container calorie-graph">
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <canvas id="chLine" width=100%></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="calories-burnt-week">Keep burning those calories!</p>
                            <a href="nutrition" class="info-link">Go to my nutrition...</a>
                        </div>
                    </div>
                    <div class="row home-col-second-row">
                        <div class="col home-row-first-col p-0">
                            <div class="jumbotron home-jum">
                                <h2>Goals achieved</h2>
                                <p>Good job! You've completed {{ completed_goal_count }} goals during your time on Toonk Fitness.</p>
                                <a href="goal" class="info-link">Go to my goals...</a>
                            </div>
                        </div>
                        <div class="col home-row-second-col">
                            <div class="jumbotron home-jum">
                                <h2>Today at a glance</h2>
                                <div class="progress-home" data-percentage={{ calories_eaten_of_allowance }}>
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                    <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                    <div class="progress-value">
                                        <div>
                                            <span style="font-size: 1.9em">{{ calories_eaten_of_allowance }}%</span><br>
                                            <span style="font-size: 0.8em">Calories Eaten</span>
                                        </div>
                                    </div>
                                </div>
                                <p>You have burnt a total of {{ calories_burnt_today|stringformat:"i" }} calories today</p>
                                <a href="exercise" class="info-link">Go to my exercises...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            if ($('#today-feed-list').contents().length <= 1) {
                listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = 'Log a meal or exercise today it will show up on this list';
                document.getElementById('today-feed-list').appendChild(listItem);
            }
        })
    </script>

    <script>
        var colors = ['#274c77', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];

        /* large line chart */
        var chLine = document.getElementById("chLine");
        var chartData = {
            labels: [{% for day in calories_burnt_dates %}{{ day }}, {% endfor %}],
            datasets: [{
                data: [{% for entry in calories_burnt_list%}{{ entry }}, {% endfor %}],
                backgroundColor: 'transparent',
                borderColor: colors[0],
                borderWidth: 4,
                pointBackgroundColor: colors[0]
            }]
        };

        if (chLine) {
            new Chart(chLine, {
                type: 'line',
                data: chartData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    </script>
{% endblock %}