<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Toonk Fitness</title>

        <!-- Demo scripts for this page-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script src="{% static "js/Chart.min.js" %}"></script>

</head>
<body>
{% block modals %}

{% endblock %}
    <div class="modal fade" id="confirmLogout" tabindex="-1" role="dialog" aria-labelledby="confirmLogoutTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDelete">Logout?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body confirm-modal">
              <div class="row justify-content-around">
                      <a class="btn btn-outline-danger logout-buttons my-2" href="log-out-user" role="button">Logout</a>
                      <a class="btn btn-outline-primary logout-buttons my-2" id="logout-button" role="button" data-dismiss="modal">Cancel</a>
              </div>
          </div>
        </div>
      </div>
    </div>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/">
        <img src="{% static "img/newLogo.png" %}" class="logo-image" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="home-nav-link">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="user">My Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="goal">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="group">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nutrition">Nutrition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="exercise">Exercise</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" role="button" data-toggle="modal" data-target="#confirmLogout">Log Out</a>
        </li>
    </ul>
</nav>
<div class="background-container">
    <div class="container-bg" id="static-background-image"></div>
    <div class="container content main-content">
        {% block content %}

        {% endblock %}
    </div>
</div>

</div>
<script src="{% static "js/navBarHighlighter.js" %}"></script>
<script src="{% static "js/backgroundScroller.js" %}"></script>
</body>
</html>