<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Toonk Fitness</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
<div class="background-container">
    <div class="container-bg" id="static-background-image"></div>
    <div class="container content main-content">
        <div class="jumbotron jum-container">
            <div class="big-logo">
                <img src="{% static "img/newBigLogo.png" %}" width=100% alt="Logo image">
            </div>
            <h2 class="display-4 text-center">Login</h2>
            <hr class="my-4">
            <div class="card-body">
                {% crispy sign_in_form %}
            </div>
            {% if sign_in_error != False %}
                <div class="alert alert-danger login-error" role="alert">
                    Username or Password is incorrect
                </div>
            {% endif %}
            <div class="card-footer login-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?&nbsp;<a href="new-user">Sign Up</a>
				</div>
			</div>
        </div>
    </div>
</div>

</div>
<!-- Demo scripts for this page-->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<script src="{% static "js/backgroundScroller.js" %}"></script>
</body>
</html>