{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="add-meal" tabindex="-1" role="dialog" aria-labelledby="add-meal-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new meal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        {% crispy create_meal_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Log Meal" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-food" tabindex="-1" role="dialog" aria-labelledby="add-food-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new food</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% crispy create_food_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Add Food" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-drink" tabindex="-1" role="dialog" aria-labelledby="add-drink-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new drink</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="uniForm" method="post">
                    <div class="modal-body">
                        {% crispy create_drink_form %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Add Drink" id="goal-button"
                               class="btn btn-primary btn btn-outline-primary long-button">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="food-created" tabindex="-1" role="dialog" aria-labelledby="food-created"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You created a new food!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="drink-created" tabindex="-1" role="dialog" aria-labelledby="drink-created"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You created a new drink!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss message</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron jum-container" id="nutrition-jum">
        <div class="row mt-2">
            <h1>Nutrition</h1>
        </div>
        <div class="row">
            <div class="col-lg-5" id="meal-list-box">
                <h4 id="feed-title">Meal Feed</h4>
                <div class="list-group" id="feed-list">
                    {% for meal in meal_list %}
                        <a href="#" class="list-group-item list-group-item-action meal-group-item-selector"
                           id="{{ meal.meal_name }}">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">{{ meal.meal_name }}</h6>
                                <small>{{ meal.date_time_added.date }}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row nutrition-buttons justify-content-around">
                    <a class="btn btn-outline-primary my-3" role="button" id="log-meal-button" data-toggle="modal"
                       data-target="#add-meal">Log Meal</a>
                    <a class="btn btn-outline-primary  my-3" role="button" id="add-food-button" data-toggle="modal"
                       data-target="#add-food">Add food</a>
                    <a class="btn btn-outline-primary  my-3" role="button" id="add-drink-button" data-toggle="modal"
                       data-target="#add-drink">Add drink</a>
                    <div class="row justify-content-around" style="width: 100%">
                        <h3 class="row" id="calorie-eat-title">Calories eaten over time</h3>
                    </div>
                </div>
                <div class="row">
                    <canvas class="calories-burnt-graph" id="chLine"></canvas>
                </div>
                <div class="row meal-exercise-background" id="mealInfoBox">
                    <div class="col meal-info">
                        <p class="text-center meal-info-text" id="mealTitle">Fry up at 11:04AM 22/02/2019</p>
                        <p class="text-center meal-info-text" id="mealCalories">Total calories: 450kcal</p>
                    </div>
                    <div class="col meal-info">
                        <p class="text-center meal-info-text" id="foodAmount">250g of toast</p>
                        <p class="text-center meal-info-text" id="drinkAmount">150ml of orange juice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var meals = new Array();
        {% if food_creation %}
            $('#food-created').modal('show');
        {% endif %}
        {% if drink_creation %}
            $('#drink-created').modal('show');
        {% endif %}

        $(document).ready(function () {
            if ($('#feed-list').contents().length <= 1) {
                listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = 'Log a meal and it will show up on this list';
                document.getElementById('feed-list').appendChild(listItem);
            }
            $('#mealInfoBox').hide();

            var count = 0;
            {% for meal in meal_list %}
                var meal_name = "{{ meal.meal_name }}";
                var meal_date = "{{ meal.date_time_added }}"
                var calories = {{ meal.calories }};
                var food = "{{ meal.food.food_name }}";
                var food_amount_grams = {{ meal.food_amount_grams }};
                var drink = "{{ meal.drink.drink_name }}"
                var drink_amount_mls = {{ meal.drink_amount_mls }};
                var newMeal = [meal_name, meal_date, calories, food, food_amount_grams, drink, drink_amount_mls];
                meals[count] = newMeal;
                count = count + 1;
            {% endfor %}
        });

        $('.meal-group-item-selector').on('click', function (e) {
            for (index = 0; index < meals.length; index++) {
                var currentMeal = meals[index];
                if (e.currentTarget.id == currentMeal[0]) {
                    $('#mealInfoBox').show();
                    $('#mealTitle').text(currentMeal[0] + " at " + currentMeal[1]);
                    $('#mealCalories').text("Total calories: " + currentMeal[2] + "kcal");
                    $('#foodAmount').text(currentMeal[4] + "g of " + currentMeal[3]);
                    $('#drinkAmount').text(currentMeal[6] + "ml of " + currentMeal[5]);
                }
            }
        })
    </script>

    <script>
        var colors = ['#274c77', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];

        /* large line chart */
        var chLine = document.getElementById("chLine");
        var chartData = {
            labels: [{% for day in calorie_dates %}{{ day }}, {% endfor %}],
            datasets: [{
                data: [{% for entry in calorie_list %}{{ entry }}, {% endfor %}],
                backgroundColor: 'transparent',
                borderColor: colors[0],
                borderWidth: 4,
                pointBackgroundColor: colors[0]
            }]
        };

        if (chLine) {
            new Chart(chLine, {
                type: 'line',
                data: chartData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        }
    </script>
{% endblock %}